*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
}
.full_width{
    width: 100%;
    background: red;
    color: white;
}
.container{
    max-width: 1200px;
    background: blue;
    color: white;
    display: block;
    margin: 0 auto;
}
/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}
header .menu ul{
    display: flex;
    gap: 20px;
}
header .menu ul li{
    cursor: pointer;
}